{% extends "servicemanager/base.html" %}
{% block title %}<title>{{ page_title }}</title>{% endblock %}
{% block content %}

<div class="wrapper">
    <form action="" method="post" class="manage-customer-form"> {% csrf_token %}
        <div class="form-title">
            <strong>{% if card_title %}{{ card_title }}{% else %}Customer card{% endif %}</strong>
        </div>
        {{ form.non_field_errors }}
        <div class="mul-fields">
            {{ form.first_name }}
            {% if form.first_name.errors %}<div>{{ form.first_name.errors }}</div>{% endif %}

            {{ form.last_name }}
            {% if form.last_name.errors %}<div>{{ form.last_name.errors }}</div>{% endif %}
        </div>
        <div class="single-field">
            {{ form.birth_date }}
            {% if form.birth_date.errors %}<div>{{ form.birth_date.errors }}</div>{% endif %}
        </div>
        <div class="mul-fields">
            {{ form.phone }}
            {% if form.phone.errors %}<div>{{ form.phone.errors }}</div>{% endif %}

            {{ form.email }}
            {% if form.email.errors %}<div>{{ form.email.errors }}</div>{% endif %}
        </div>

        <div class="single-field">
            {{ form.address }}
            {% if form.address.errors %}<div>{{ form.address.errors }}</div>{% endif %}
        </div>
        <div class="mul-fields">
            {{ form.country }}
            {% if form.country.errors %}<div>{{ form.country.errors }}</div>{% endif %}

            {{ form.state }}
            {% if form.state.errors %}<div>{{ form.state.errors }}</div>{% endif %}
        </div>
        <div class="mul-fields">
            {{ form.city }}
            {% if form.city.errors %}<div>{{ form.city.errors }}</div>{% endif %}

            {{ form.postal_code }}
            {% if form.postal_code.errors %}<div>{{ form.postal_code.errors }}</div>{% endif %}
        </div>
        <div class="mul-fields">
            {{ form.street }}
            {% if form.street.errors %}<div>{{ form.street.errors }}</div>{% endif %}

            {{ form.house }}
            {% if form.house.errors %}<div>{{ form.house.errors }}</div>{% endif %}
        </div>
        <div class="single-field">
            <input type="submit" value="Save" class="my-btn my-btn-save">
        </div>
    </form>
</div>

<script>
// This sample uses the Autocomplete widget to help the user select a
// place, then it retrieves the address components associated with that
// place, and then it populates the form fields with those details.
// This sample requires the Places library. Include the libraries=places
// parameter when you first load the API. For example:
// <script
// src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

var placeSearch, autocomplete;

var componentForm = {
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  country: 'long_name',
  postal_code: 'short_name'
};


(function() {
  for (var component in componentForm) {
  var el = document.getElementById(component);
  if (el.value != ''){
    el.disabled = false;
    el.classList.remove('disabled');
  };
};

})();


function initAutocomplete() {
  // Create the autocomplete object, restricting the search predictions to
  // geographical location types.
  autocomplete = new google.maps.places.Autocomplete(
      document.getElementById('autocomplete'), {types: ['geocode']});

  // Avoid paying for data that you don't need by restricting the set of
  // place fields that are returned to just the address components.
  autocomplete.setFields(['address_component']);

  // When the user selects an address from the drop-down, populate the
  // address fields in the form.
  autocomplete.addListener('place_changed', fillInAddress);
}

function fillInAddress() {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();

  for (var component in componentForm) {
    document.getElementById(component).value = '';
    document.getElementById(component).disabled = false;
    document.getElementById(component).classList.remove('disabled');
  }

  // Get each component of the address from the place details,
  // and then fill-in the corresponding field on the form.
  for (var i = 0; i < place.address_components.length; i++) {
    var addressType = place.address_components[i].types[0];

    if (componentForm[addressType]) {
      var val = place.address_components[i][componentForm[addressType]];
      document.getElementById(addressType).value = val;
    }
  }
}

// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      var circle = new google.maps.Circle(
          {center: geolocation, radius: position.coords.accuracy});
      autocomplete.setBounds(circle.getBounds());
    });
  }
}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=places&callback=initAutocomplete"
        async defer></script>
{% endblock %}
