{% extends "servicemanager/base.html" %}
{% block title %}<title>{{ page_title }}</title>{% endblock %}
{% block content %}

<div class="wrapper">
    <form action="" method="post" class="manage-customer-form"> {% csrf_token %}
        <div class="form-title">
            <strong>{% if card_title %}{{ card_title }}{% else %}Customer card{% endif %}</strong>
        </div>
        {{ form.non_field_errors }}
        <div class="form-card">
            <div class="mul-fields">
                {{ form.first_name }}
                {% if form.first_name.errors %}<div>{{ form.first_name.errors }}</div>{% endif %}

                {{ form.last_name }}
                {% if form.last_name.errors %}<div>{{ form.last_name.errors }}</div>{% endif %}
            </div>
            <div class="single-field">
                {{ form.birth_date }}
                {% if form.birth_date.errors %}<div>{{ form.birth_date.errors }}</div>{% endif %}
            </div>
            <div class="mul-fields">
                {{ form.phone }}
                {% if form.phone.errors %}<div>{{ form.phone.errors }}</div>{% endif %}

                {{ form.email }}
                {% if form.email.errors %}<div>{{ form.email.errors }}</div>{% endif %}
            </div>

            <div class="single-field">
                {{ form.address }}
                {% if form.address.errors %}<div>{{ form.address.errors }}</div>{% endif %}
            </div>
            <div class="mul-fields">
                {{ form.country }}
                {% if form.country.errors %}<div>{{ form.country.errors }}</div>{% endif %}

                {{ form.state }}
                {% if form.state.errors %}<div>{{ form.state.errors }}</div>{% endif %}
            </div>
            <div class="mul-fields">
                {{ form.city }}
                {% if form.city.errors %}<div>{{ form.city.errors }}</div>{% endif %}

                {{ form.postal_code }}
                {% if form.postal_code.errors %}<div>{{ form.postal_code.errors }}</div>{% endif %}
            </div>
            <div class="mul-fields">
                {{ form.street }}
                {% if form.street.errors %}<div>{{ form.street.errors }}</div>{% endif %}

                {{ form.house }}
                {% if form.house.errors %}<div>{{ form.house.errors }}</div>{% endif %}
            </div>
        </div>
        <div class="single-field">
            <input type="submit" value="Save" class="my-btn my-btn-save">
        </div>
    </form>
</div>

{% load static %}<script type="text/javascript" src="{% static 'servicemanager/google_places.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=places&callback=initAutocomplete"
    async defer></script>
{% endblock %}
