{% extends "servicemanager/base.html" %}
{% block title %}<title>Service Station Orders</title>{% endblock %}
{% block content %}

<div class="wrapper">
    <div style="max-width: 700px; margin: 0 auto;">My Service Station</div>
</div>

<div class="wrapper">
    <div class="manage-customer-form">
        <div class="form-title">
            <strong>{% if card_title %}{{ card_title }}{% else %}Manage
                <a href="{% url 'manager:customer_card' vehicle.owner.pk %}">
                    {{ vehicle.owner.first_name }} {{ vehicle.owner.last_name }}'s
                </a> Orders{% endif %}</strong>
        </div>
        <div class="form-header">
            <div class="form-header-title"><strong>Orders for {{ vehicle.vin }} ({{ orders_list|length }})
                <a href="{% url 'manager:create_order' vehicle.id %}"
                   class="add-link" title="Add an order"> &#43;</a></strong>
            </div>
        </div>

        {% if msg %}
        <div class="form-header-title">
            <strong>{{ msg }}</strong>
        </div>
        {% endif %}

        {% for obj in orders_list %}
        <div class="form-card">
            <div class="mul-fields">
                <div class="output">
                    <span class="card-label">Date:</span> {{ obj.date }}
                </div>
                <div class="output">
                    <span class="card-label">Amount:</span> {{ obj.amount }}
                </div>
            </div>
            <div class="mul-fields">
                <div class="output">
                    <span class="card-label">Status:</span> {{ obj.status }}
                </div>
            </div>
        </div>
        <div class="my-btn-group">
            <a href="{% url 'manager:update_order' obj.pk %}" class="my-btn my-btn-edit">Edit</a>
            {% if obj.status|lower != 'in progress' %}
            <button class="my-btn my-btn-delete trigger" id="{{obj.pk}}">Delete</button>
            {% else %}
            <button class="my-btn my-btn-disabled" disabled title="The order is in progress">Delete</button>
            {% endif %}
        </div>
        <hr>
        {% endfor %}

    </div>
</div>

{% for obj in orders_list %}
<!-- The Modal -->
<div id="confirmModal{{obj.pk}}" class="my-modal">

  <!-- Modal content -->
    <div class="my-modal-content">
        <span id="close{{obj.pk}}" class="close">&times;</span>
        <div><b>Confirm deletion</b></div>

        <form action="{% url 'manager:delete_order' obj.pk %}"
              method="post" class="delete-customer-form"> {% csrf_token %}

            <div class="modal-msg">Are you sure you want to delete the order?</div>
            <div class="modal-btn-group">
                <span class="my-btn modal-btn-cancel" id="cancel{{obj.pk}}">Cancel</span>

                <input name="delete" type="submit" value="Delete" class="my-btn modal-btn-delete">
            </div>
        </form>
    </div>

</div>
{% endfor %}
{% load static %}<script type="text/javascript" src="{% static 'servicemanager/orders_list.js' %}"></script>
{% endblock %}