{% extends "servicemanager/base.html" %}
{% block title %}<title>Service Station</title>{% endblock %}
{% block content %}

<div class="wrapper">
    <div class="manage-customer-form">
        <form action="{% url 'manager:search_customer' %}" method="get">
            <div class="form-title">
                <strong>{% if card_title %}{{ card_title }}{% else %}Search customers{% endif %}</strong>
            </div>
            <div class="form-card">
                <div class="mul-fields">
                    {{ form.first_name }}
                    {% if form.first_name.errors %}<div>{{ form.first_name.errors }}</div>{% endif %}

                    {{ form.last_name }}
                    {% if form.last_name.errors %}<div>{{ form.last_name.errors }}</div>{% endif %}
                </div>
            </div>
            <div class="my-btn-group-w">
                <input type="submit" value="Search" class="my-btn my-btn-save">
                <a href="{% url 'manager:create_customer' %}" class="my-btn my-btn-register">Register</a>
            </div>
        </form>
        <div style="padding: 30px;">
            {% if msg %}

            <div class="form-header-title">
                <strong>{{ msg }}</strong>
            </div>{% endif %}


            {% for obj in customer_list %}
            <div class="form-header-title">
                <a href="{% url 'manager:customer_card' obj.pk %}">
                    {{ obj.first_name }} {{ obj.last_name }} {{ obj.email }}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>


</div>


{% endblock %}