*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { height: 100%; } /* necessary for percentage heights to work */

body {
    min-height: 100%; /* allow body to expand with children */
    display: flex; /* establish flex container */
    /*justify-content: center;  center div vertically, in this case */
    align-items: center;  /* center div horizontally, in this case */
    flex-direction: column;
}

.wrapper {
    /*position: absolute;
    top: 50%;
    transform: translateY(-50%);*/
    width: 100%;
    padding: 15px;
}

.manage-customer-form {
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;
    background: rgba(242,242,242, 0.7);
    box-shadow: 0 0 10px rgba(242,242,242, 0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.delete-customer-form {
    background: rgba(242,242,242, 0.7);
    margin-top: 20px; /*t r b l*/
    border-radius: 5px;
    padding: 30px;
}

.modal-msg {
    margin: 0 2% 20px 2%;
}

.form-title {
    margin: 0 2%;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.mul-fields {
    display: flex;
}

.form-header {
    display: flex;
    /*margin: 0 0 20px 2%;*/
    margin-bottom: 20px;
}

.form-header-title {
    width: 46%;
    margin: 0 2%;
}

.output {
    width: 46%;
    margin: 0 2%;
    margin-bottom: 5px;
    background: transparent;
    border: 0;
    border-bottom: 1.75px solid #9e9e9e;
    padding: 10px 0;
    outline: none;
    transition: .4s;
}

.input {
    width: 46%;
    margin: 0 2%;
    margin-bottom: 5px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #000;
    padding: 10px 0;
    outline: none;
    transition: .4s;
}

.input:focus {
    border-bottom: 2px solid #007bff;
    background: rgba(242,242,242, 1);
    transition: .4s;
    /*font-size: 0.7rem;*/
}

input::-webkit-input-placeholder {
    color: #7a7a7a;
    transition: .4s;
}

input:-moz-placeholder {
    color: #7a7a7a;
    transition: .4s;
}

input::-moz-placeholder {
    color: #7a7a7a;
    transition: .4s;
}

input:-ms-input-placeholder {
    color: #7a7a7a;
    transition: .4s;
}


input:focus::-webkit-input-placeholder {
    color: #9e9e9e;
    transition: .4s;
}

input:focus:-moz-placeholder {
    color: #9e9e9e;
    transition: .4s;
}

input:focus::-moz-placeholder {
    color: #9e9e9e;
    transition: .4s;
}

input:focus:-ms-input-placeholder {
    color: #9e9e9e;
    transition: .4s;
}

#id_birth_date {
    width: 46%;
}

.disabled {
    border-bottom: 2px solid #9e9e9e;
    color: #9e9e9e;
}

.my-btn {
    margin: 0 2%;
    margin-top: 30px;
    text-align: center;
    padding: 5px 15px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.modal-btn-cancel {
    margin: 0 2% 0 0;
    width: 23%;
    background: #343a40;
    color: #f8f9fa;
}

.my-btn-save {
    background: #343a40;
    color: #f8f9fa;
    width: 23%;
}

.my-btn-group {
    width: 48%;
    margin-left: 2%;
    color: #f8f9fa;
    display: flex;
}

.modal-btn-group {
    width: 96%;
    margin-left: 2%;
    color: #f8f9fa;
    display: flex;
}

.my-btn-edit {
    color: #f8f9fa;
    background-color: #17a2b8;
    width: 30%;
    text-decoration: none;
    display: inline-block;
    margin: 0 2% 0 0; /*top right bottom left*/
}

.my-btn-edit:hover {
    color: #fff;
    background-color: #0f6c7b;
    text-decoration: none;
}

.my-btn-delete {
    color: #f8f9fa;
    background-color: #dc3545;
    width: 30%;
    text-decoration: none;
    display: inline-block;
    margin: 0 2% 0 0;
}

.modal-btn-delete {
    width: 23%;
    color: #f8f9fa;
    background-color: #dc3545;
    text-decoration: none;
    display: inline-block;
    margin: 0 2% 0 0;
}

.my-btn-delete:hover {
    color: #fff;
    background-color: #ad1f2d;
    text-decoration: none;
}

.modal-btn-delete:hover {
    color: #fff;
    background-color: #ad1f2d;
    text-decoration: none;
}

a.my-btn-disabled:not([href]):not([tabindex]) {
    opacity: 0.4;
    cursor: not-allowed;
    background-color: #dc3545;
    width: 30%;
    text-decoration: none;
    display: inline-block;
    margin: 0;
    color: inherit;
}

button:disabled {
    opacity: 0.4;
    color: inherit;
    cursor: not-allowed;
    background-color: #dc3545;
    margin: 0;
    width: 30%;
}

.my-btn-save:hover,
.modal-btn-cancel:hover {
    background: #007bff;
}

#autocomplete {
    width: 96%;
}

.form-card {
    margin-bottom: 30px;
}

.card-label {
    color: #7a7a7a;
}

/*.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}*/


/* The Modal (background) */
.my-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  /*right: 0;*/
  /*bottom: 0;*/
  /*outline: 0;*/ /*-webkit-overflow-scrolling: touch; !*/

  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed != hidden*/
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.my-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/*.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    outline: 0;
}*/

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .mul-fields, .form-header {
        flex-direction: column;
    }

    .input,
    .output,
    .form-header-title {
        width: 96%;
    }

    .my-btn-group {
        width: 96%;
        margin-top: 10px;
    }

    #id_birth_date {
        min-width: 70%;
    }

    .my-modal-content {
        width: 80%;
    }

    .modal-btn-cancel{
        width: 50%;
    }

    .modal-btn-delete{
        width: 50%;
    }

    .my-btn-save {
        width: 50%;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .my-btn-edit,
    .my-btn-delete {
        width: 40%;
    }

    .modal-btn-cancel{
        width: 40%;
    }

    .modal-btn-delete{
        width: 40%;
    }

    .my-btn-save {
        width: 40%;
    }

    .form-header-title{
        width: 96%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .modal-btn-cancel,
    .modal-btn-delete,
    .my-btn-save {
        width: 30%;
    }

    .form-header-title{
        width: 46%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .my-btn-edit,
    .my-btn-delete {
        width: 30%;
    }

    .modal-btn-cancel{
        width: 23%;
    }

    .modal-btn-delete{
        width: 23%;
    }

    .my-btn-save {
        width: 23%;
    }
}

@media only screen and (min-width: 1998px) {
    .manage-customer-form {
        max-width: 1000px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) {...}*/

